<router-outlet></router-outlet>

<br>
<h1>Sport articles</h1>

    <input type="text" [(ngModel)] = "searchValue" id="search"
    placeholder="Search..."/>

<div class="container">
    <div class="row pt-5">
        <div class="col-md-4 p-2" *ngFor="let sport of sports | searchfilter:searchValue | fresh:'sd':'country' | paginate: {itemsPerPage: 5, currentPage: p};">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center">{{sport.title}}</h2>
                    <br>
                    <img src="{{sport.image}}">
                    <br>
                    <a target="_blank" href="{{sport.url}}">{{sport.url}}</a>
                    <h4>{{sport.author}}</h4>
                    <br>
                    <p>{{sport.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<pagination-controls (pageChange) = "p = $event"> </pagination-controls>
